.goods-xq {
    width: 100%;

    .img-bar {
        width: 100%;

        .img {
            width: 100.2vw;
            height: 100.2vw;

            >img {
                width: 100%;
                height: 100%;
            }
        }
    }
}