.topNav{
    width: 100%;
    height: 12.667vw;
}
.topNav ul{
    width: 100%;
    height: 100%;
}
.topNav ul li{
    float: left;
    width: 17vw;
    height: 100%;
    line-height: 12.667vw;
    margin-right: 3vw;
}
.topNav ul .back{
    width: 6vw;
    height: 4vw;
    margin: 0vw 13vw 0 4vw;
}
.topNav ul .car{
    width: 7vw;
    height: 6vw;
    margin: 0vw 0vw 0 7vw;
}
.topNav ul li img{
width: 100%;
height: 100%;
}
.clear::after,
.clear::before{
    content: "";
    display: block;
}
.clear::after{
    clear: both;
}
