.shopCar {
    width: 100%;
    height: 176.57vw;
    background-color: #fff;
    position: relative;

    section {
        width: 100%;
        height: 149.758vw;

        >a {
            display: block;
            width: 100%;
            height: 100%;

            >img {
                margin: 33.816vw 19.324vw;
            }
        }
    }
    >.foot {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}