.list-tab {
    padding-left: 2.415vw;

    .ant-tabs-nav-list {
        margin-left: 2.415vw;

        .ant-tabs-tab-btn {
            width: 8.454vw;
            font-size: 3.865vw;
            text-align: center;

        }
    }
}