.seek-nav {
    width: 100vw;
    height: 10.145vw;
    overflow: scroll;
    

    .seek-nav-ul {
        width: 202.899vw;
        height: 9.179vw;
        overflow: auto;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        margin: 0;
        

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 16.908vw;
            height: 9.179vw;
            flex: none;

            a {
                font-size: 3.14vw;
                color: #000;
            }

        }

    }

}


