.xklb {
    background: rgba(255, 255, 255, 0.9);
}
.xklb .xklb-ctn:nth-child(1) {
    height: 8.696vw;
}
.xklb-ctn {
    width: 90.338vw;
    height: 17.874vw;
    float: left;
    border-bottom: 0.242vw solid #ccc;
    margin-bottom: 1.691vw;
}
.xklb-ctn h2{
    color: #888;
    line-height: 8.696vw;
    margin-left: 2.415vw;
    font-size: 3.382vw;
}
.xklb-ctn>img {
    width: 16.908vw;
    height: 14.976vw;
    float: left;
}
.xklb-ctn div {
    float: left;
}
.xklb-ctn div p{
    width: 70.048vw;
    height: 8.696vw;
    color: #000;
    font-size: 3.382vw;
    line-height: 4.831vw;
}
.xklb-ctn div span {
    width: 24.155vw;
    height: 6.763vw;
    color: #bc338b;
    display: block;
    margin-top: -2.382vw;
}
