.seek-data {
    .lists-li {
        width: 45.652vw;
        height: 29z7px;
        float: left;
        margin: 0.966vw;

        >img {
            width: 45.169vw;
            height: 45.169vw;
        }

        >p {
            width: 45.169vw;
            height: 9.662vw;
            overflow: auto;
            float: left;
            margin: 0.725vw 0;
            line-height: 4.71vw;

            >i {
                width: 14.976vw;
                height: 4.589vw;
                background: #45a0e6;
                // display: block;
                font-size: 2.899vw;
                text-align: center;
                float: left;
                font-style: normal;
                margin-right: 1.208vw;
                color: #fff;
            }
        }

        .lists-pl {
            width: 45.169vw;
            height: 7.971vw;
            padding: 0.242vw 0.725vw;
            float: left;

            >span:nth-child(1) {
                float: left;
                color: #bc338b;

                >i {
                    font-style: normal;
                }
            }

            >span:nth-child(2) {
                float: right;
                color: #999;
            }
        }

        .lists-b {
            width: 45.169vw;
            height: 7.729vw;
            float: left;

            >a:nth-child(1) {
                width: 13.527vw;
                height: 7.246vw;
                background: #1c3a8b;
                display: block;
                float: left;

                >img {
                    margin: auto;
                    display: block;
                    margin-top: 1.208vw;
                }
            }

            >a:nth-child(2) {
                width: 27.053vw;
                height: 7.246vw;
                background: #bc338b;
                display: block;
                float: right;
                text-align: center;
                line-height: 7.246vw;
                color: #fff;
            }
        }
    }
}