a {
  text-decoration: none;
}

.reg {
  padding: 49px 0;
}

.reg .am-header {
  height: 49px;
  line-height: 49px;
  padding: 0 10px;
}

.reg .am-header .am-header-left {
  left: 10px;
}

.reg .am-header .am-header-nav {
  color: #eee;
  position: absolute;
  top: 0;
}

.reg .am-header .am-header-nav a {
  display: inline-block;
  min-width: 36px;
  color: #eee;
}

.reg .am-header .am-header-nav a .anticon-left {
  font-size: 20px;
}

.reg .am-header .am-header-title {
  color: #fff;
  margin: 0 30%;
  font-weight: 400;
  text-align: center;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.reg .am-header .am-header-title a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  background-color: transparent;
}

.reg .am-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  max-width: 1000px;
}

.reg .am-container .mt25 {
  margin-top: 25px;
}

.reg .am-container .am-g {
  width: auto;
  margin-left: -10px;
  margin-right: -10px;
}

.reg .am-container .am-g [class*="am-u-"].am-u-sm-centered:last-child {
  float: none;
}

.reg .am-container .am-g [class*="am-u-"].am-u-sm-centered {
  margin-left: auto;
  margin-right: auto;
}

.reg .am-container .am-g [class*="am-u-"] {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.reg .am-container .am-g .am-form input[type="text"] {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  line-height: 1.2;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
 -webkit-box-shadow 0.15s ease-in-out;
}

.reg .am-container .am-g .am-form input[type="password"] {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  line-height: 1.2;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
 -webkit-box-shadow 0.15s ease-in-out;
}

.reg .am-container .am-g .register-rules a {
  color: #0e90d2;
}

.reg .am-container .am-g .am-btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  color: #fff;
  height: 37px;
  padding: 8px 0;
  line-height: 19px;
  font-size: 16px;
  vertical-align: top;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: #bc338b !important;
  border-color: #bc338b !important;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
  user-select: none;
  transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
  margin-bottom: 0;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
}
