.seek-head {
    height: 49px;
    width: 414px;
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sousuo {
    width: 70.048vw;
    height: 7.729vw;
    border: 0.121vw solid #bc338b;
    float: left;
    padding-left: 2.415vw;
    border-radius: 1.691vw;
}
.sousuo input {
    width: 52.174vw;
    height: 7.246vw;
    border: none;
    border-left: 0.121vw solid #bc338b;
    padding-left: 1.691vw;
    margin-left: 1.208vw;
    border-radius: 0 1.691vw 1.691vw 0;
}
.icon-l {
    float: left;
    font-size: 6.763vw;
}
.icon-r {
    float: right;
}
.icon-r>.anticon {
    font-size: 6.039vw;
}
.sousuo>a {
    color: #000;
}
