.seek-head {
    height: 11.836vw;
    width: 100vw;
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .sousuo {
        width: 70.048vw;
        height: 7.729vw;
        border: 0.121vw solid #bc338b;
        float: left;
        padding-left: 2.415vw;
        border-radius: 1.691vw;

        >input {
            width: 52.174vw;
            height: 7.246vw;
            border: none;
            border-left: 0.121vw solid #bc338b;
            padding-left: 1.691vw;
            margin-left: 1.208vw;
            border-radius: 0 1.691vw 1.691vw 0;
        }

        >a {
            color: #000;
        }
    }

    .icon-l {
        float: left;
        font-size: 6.763vw;
    }

    .icon-r {
        float: right;

        >.anticon {
            font-size: 6.039vw;
        }
    }
}